<section class="hero">
  <div class="hero-body">
    <div class="container" style="display: flex;">
      <div style="flex: 1">
        <h1 class="title">
          ngx-loadable
        </h1>
        <h2 class="subtitle">
          Making Code Splitting your non routable Angular Modules, a piece of
          cake 🍰!
        </h2>
      </div>
      <div>
        <img
          width="75px"
          src="https://cdn-images-1.medium.com/max/1600/1*D-rdCEVxbkbGOVdrA3v4bA.png"
          alt="ngx-loadable logo"
        />
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="section">

    <div class="columns">
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              LazyModule (exists)
              <span
                class="tag"
                [ngClass]="{ 'is-danger': !isLoaded, 'is-success': isLoaded }"
              >
                {{ isLoaded ? "Loaded" : "Not yet loaded" }}
              </span>
            </p>

          </header>
          <div class="card-content">
              <div class="buttons">
                  <button class="button" (click)="show = true">Force Load</button>
                  <button
                    class="button is-primary"
                    (mouseover)="lazyModule.preload()"
                  >
                    Preload on hover
                  </button>
                  <button class="button" (click)="load()">
                    Preload using Service
                  </button>
                </div>
              <ngx-loadable module="lazy" [show]="show" #lazyModule>
                <div loading>Loading</div>
              </ngx-loadable>
            </div>
        </div>


      </div>
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">LazyBoyModule (doesn't exists)</p>
          </header>
          <div class="card-content">
            <ngx-loadable module="lazyBoy" [show]="true">
              <div error>
                  <div class="notification is-danger">
                      Error Loading the module!
                    </div>
              </div>
            </ngx-loadable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
