<div class="wrapper">
  <h1>Basic</h1>

  <h2>Plain directive</h2>
  <div class="content">
    <div class="implementation" *ngIf="!example1">
      <button mat-flat-button color="accent" (click)="example1 = true">
        <mat-icon>play_arrow</mat-icon>
        Show
      </button>
    </div>
    <div [class.implementation]="example1">
      <ngx-loadable module="lazy" [show]="example1">
        <ng-template #loading>
          Loading...
        </ng-template>
      </ngx-loadable>
    </div>
    <div class="description">
      <p>
        The most simple example, all we need is to use is ngx-loadable component and pass the module name,
        and use <code>show</code> input to toggle the loading and displaying the module.
      </p>
      <pre [highlight]="codeExample1"></pre>
    </div>
  </div>

  <h2>Use loading <code>&#60;ng-template #loading></code></h2>
  <div class="content">
    <div class="implementation" *ngIf="!example2">
      <button mat-flat-button color="accent" (click)="example2 = true">
        <mat-icon>play_arrow</mat-icon>
        Show
      </button>
    </div>
    <div [class.implementation]="example2">
      <ngx-loadable module="lazy-slow" [show]="example2">
        <ng-template #loading>Loading...</ng-template>
      </ngx-loadable>
    </div>
    <div class="description">
      <p>
        In this example we're loading
        <code>lazy</code> module using the
        <code>ngx-loadable</code> component but we're also adding
        <code>&#60;ng-template #loading>Loading...&#60;ng-template></code> which
        will be displayed before the module was loaded (depending on your
        connection speed)
      </p>
      <pre [highlight]="codeExample2"></pre>
    </div>
  </div>

  <h2>Use error <code>&#60;ng-template #error></code></h2>
  <div class="content">
    <div class="implementation" *ngIf="!example3">
      <button mat-flat-button color="accent" (click)="example3 = true">
        <mat-icon>play_arrow</mat-icon>
        Show
      </button>
    </div>
    <div [class.implementation]="example3">
      <ng-template #loading>Loading...</ng-template>
      <ngx-loadable module="not-exist" [show]="example3">
        <ng-template #error>Loading failed...</ng-template>
      </ngx-loadable>
    </div>
    <div class="description">
      <p>
        In this example we're loading
        <code>error</code> module using the
        <code>ngx-loadable</code> component but we're also adding
        <code>&#60;ng-template #error>Loading failed...&#60;ng-template></code>
        which will be displayed because the loading request will fail (wrong
        module)
      </p>
      <pre [highlight]="codeExample3"></pre>
    </div>
  </div>
</div>
