:host {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  text-align: center;

  a {
    width: auto;
  }
  .signature {
    img {
      border-radius: 50%;
      height: 36px;
    }
  }
}

:host-context(.responsive) {
  .signature {
    span {
      display: none;
    }
  }
  .theme {
    display: none;
  }
  grid-template-columns: repeat(3, 1fr);
}
